<launch>
   <!-- Load the urdf into the parameter server. -->
   <param name="robot_description" textfile="$(find testbot_description)/urdf/auto.urdf"/>
    <node pkg="testbot_description" type="mie.py" name="joint_st_pub">
        
    </node>
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find testbot_description)/urdf/me.rviz">
    <!-- <node pkg="rviz" type="rviz" name="rviz"> -->

        
    </node>
  </launch>